<div fxFlexFill
     fxLayout="column">
  <mat-sidenav-container fxFlex
                         class="container"
                         fxFlexLayout="column">

    <mat-sidenav #left
                 [(opened)]="openMessageSidebar"
                 class="panel-content"
                 mode="side"
                 position="start">
      Left Sidenav.
      <!-- <app-messaging></app-messaging> -->
    </mat-sidenav>

    <mat-sidenav #right
                 [(opened)]="openAssistantSidebar"
                 class="attendance-content"
                 mode="side"
                 position="end">
      <app-driver-attendance></app-driver-attendance>
    </mat-sidenav>

    <mat-sidenav-content>
      <div fxLayout="column"
           class="container"
           fxLayoutAlign="center center">
        <div class="container">
          <div id="map"></div>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
