<div fxFlexFill
     fxLayout="column">
  <mat-sidenav-container fxFlex
                         class="container"
                         fxFlexLayout="column">

    <mat-sidenav #left
                 class="panel-content"
                 mode="side"
                 position="start">
      Left Sidenav.
      <!-- <app-messaging></app-messaging> -->
    </mat-sidenav>

    <mat-sidenav #right
                 class="panel-content"
                 mode="side"
                 position="end">
      Right Sidenav.
    </mat-sidenav>

    <mat-sidenav-content>
      <div fxLayout="column"
           class="container"
           fxLayoutAlign="center center">
        <div class="container">
          <div id="map"></div>
           <button mat-raised-button
                (click)="left.toggle()">Open left Sidenav</button>
        <button mat-raised-button
                (click)="right.toggle()">Open right Sidenav</button>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
