<div class="container">
  <mat-drawer-container fxFlex
                        fxFlexLayout="column">

    <mat-drawer #drawer
                class="contents"
                mode="over">
      <button mat-raised-button
              (click)="logout()">Logout</button>
    </mat-drawer>

    <mat-drawer-content fxLayout="column">

      <div fxLayout="row"
           fxLayoutAlign="center start">
        <mat-toolbar color="primary">
          <button mat-icon-button
                  (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>
      </div>

      <mat-sidenav-container class="container"
                             fxFlexLayout="column">

        <mat-sidenav #right
                     class="contents"
                     mode="side"
                     position="start">
          Left Sidenav.
        </mat-sidenav>

        <mat-sidenav #left
                     class="contents"
                     mode="side"
                     position="end">
          Right Sidenav.
        </mat-sidenav>

        <div fxLayout="column"
             class="container"
             fxFlex
             fxLayoutAlign="space-between center">
          <button mat-raised-button
                  (click)="drawer.toggle()">Open menu</button>
          <button mat-raised-button
                  (click)="left.toggle()">Open right Sidenav</button>
          <button mat-raised-button
                  (click)="right.toggle()">Open Left Sidenav</button>

        </div>

      </mat-sidenav-container>

    </mat-drawer-content>

  </mat-drawer-container>
</div>
